@font-face {
    font-family: 'Muli';
    src: url('../fonts/Mulish-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Mulish-Bold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Mulish-Light.ttf');
    font-weight: 300;
}