<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <title>Project Zerg</title>
</head>
<body>
    <div class="flex-dashboard">
        <sidebar id="mySidebar" class="sidebar2">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="sidebar-title">
                <img src="../images/l2.png" alt="">
                <h2>Project Zerg</h2>
            </div>
            <div class="menu" >
                <ul >
                    <li>
                        <i class="fas fa-home"></i>
                        <a href="dashboard.html"> Dashboard</a>
                    </li>
                    <li>
                        <i class="fas fa-user-circle"></i>
                        <a href="#"> Perfil</a>
                    </li>
                    <li>
                        <i class="fas fa-cart-plus"></i>
                        
                        <a href="../views/loja.html">  Loja</a>
                    </li>
                    <li>
                        <i class="fas fa-users"></i>
                        <a href="#">Comunidade</a>
                    </li>
                    <li>
                        <i class="fas fa-images"></i>
                        <a href="#">Repositorio</a>
                    </li>
                    <li>
                        <i class="fas fa-question-circle"></i>
                        <a href="#"> Suporte</a>
                    </li>
                </ul>
            </div>
            
        </sidebar>
    
        <main>
            <header><div id="main" class="divbtn">
                <button class="openbtn" onclick="openNav()">&#9776;</button>
              </div>
                
                <a href="../index.html"> <i class="fas fa-sign-out-alt "></i> Logout</a>
            </header>
        <div class="container py-3 ">
                           
          
              <div class="  pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal">Produtos</h1>
                <p class="fs-5 text-muted">Tabela de preços criada com auxilio de bootstrap, aqui você pode facilmente personalizar a tabela de preço. Design feito com bootstrap.</p>
              </div>
            </header>
            
  
  
    <main >
      <div class="panel-row row text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Free</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">R$0<small class="text-muted fw-light">/mês</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Acesso a plataforma</li>
            <li>Download limitado</li>
            <li>Suporte por email</li>
            <li>Suporte por chat</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-primary">Faça parte sem pagar nada</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Pro</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">R$15<small class="text-muted fw-light">/mês</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Faça parte do grupo do discord</li>
                <li>Download ilimitado</li>
                <li>Prioridade no suporte</li>
                <li>Prioridade no Suporte por chat</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-primary">Comece agora</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-white bg-primary border-primary">
              <h4 class="my-0 fw-normal">Vip</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">R$29<small class="text-muted fw-light">/mês</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Acesso ao grupo do Discord e Whatsapp VIP</li>
                <li>Download ilimitado + sorteio participação mensal </li>
                <li>Suporte direto pelo Whatsapp</li>
                <li>Prioridade no Suporte por chat</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-primary">Comece agora</button>
            </div>
          </div>
        </div>
      </div>
  
      
      </div>
    </footer>
  </div>
    </main>
    </div>
    
    <script>
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginRight = "0px";
      }
      
      function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginRight= "0";
      }
      </script>
  <script> src="../js/sidebar.js"</script> 
  <script> src="../plugins/bootstrap/js/bootstrap.min.js" </script>
  <script> src="../plugins/fontawesome/js/all.min.js"</script>
</body>
</html>