<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <title>Project Zerg</title>
</head>
<body>
    <div class="flex-dashboard">
    <sidebar id="mySidebar" class="sidebar2">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="sidebar-title">
            <img src="../images/l2.png" alt="">
            <h2>Project Zerg</h2>
        </div>
        <div class="menu" >
            <ul >
                <li>
                    <i class="fas fa-home"></i>
                    <a href="#"> Dashboard</a>
                </li>
                <li>
                    <i class="fas fa-user-circle"></i>
                    <a href="#"> Perfil</a>
                </li>
                <li>
                    <i class="fas fa-cart-plus"></i>
                    
                    <a href="../views/loja.html">  Loja</a>
                </li>
                <li>
                    <i class="fas fa-users"></i>
                    <a href="#">Comunidade</a>
                </li>
                <li>
                    <i class="fas fa-images"></i>
                    <a href="#">Repositorio</a>
                </li>
                <li>
                    <i class="fas fa-question-circle"></i>
                    <a href="#"> Suporte</a>
                </li>
            </ul>
        </div>
        
    </sidebar>

    <main>
        <header><div id="main" class="divbtn">
            <button class="openbtn" onclick="openNav()">&#9776;</button>
          </div>
            
            <a href="../index.html"> <i class="fas fa-sign-out-alt "></i> Logout</a>
        </header>
        
        <div class="main-content">
            
            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                  <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Dashboard</h1>
                    <p class="lead text-muted">Essa aqui é sua dashboard, aqui você pode fazer seus posts e mais. Site feito para aprendizado, uso comercial não autorizado. </p>
                    <p>
                      <a href="https://github.com/Maxtherox" class="btn btn-primary my-2">Ir ao Repositorio</a>
                      
                    </p>
                  </div>
                </div>
              </section>
            
              <div class="album py-5 bg-light">
                <div class="container">
            
                  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                      <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            
                        <div class="card-body">
                          <p class="card-text">Este é um cartão amplo de conteúdo, Aqui você pode colocar informações sobre seu post, função ainda não implementada.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            
                        <div class="card-body">
                          <p class="card-text">Este é um cartão amplo de conteúdo, Aqui você pode colocar informações sobre seu post, função ainda não implementada..</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            
                        <div class="card-body">
                          <p class="card-text">Este é um cartão amplo de conteúdo, Aqui você pode colocar informações sobre seu post, função ainda não implementada.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                          </div>
                        </div>
                      </div>
                    </div>
            
                    <div class="col">
                      <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            
                        <div class="card-body">
                          <p class="card-text">Este é um cartão amplo de conteúdo, Aqui você pode colocar informações sobre seu post, função ainda não implementada.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            
                        <div class="card-body">
                          <p class="card-text">Este é um cartão amplo de conteúdo, Aqui você pode colocar informações sobre seu post, função ainda não implementada.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            
                        <div class="card-body">
                          <p class="card-text">Este é um cartão amplo de conteúdo, Aqui você pode colocar informações sobre seu post, função ainda não implementada.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                          </div>
                        </div>
                      </div>
                    </div>
            
                    <div class="col">
                      <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            
                        <div class="card-body">
                          <p class="card-text">Este é um cartão amplo de conteúdo, Aqui você pode colocar informações sobre seu post, função ainda não implementada.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            
                        <div class="card-body">
                          <p class="card-text">Este é um cartão amplo de conteúdo, Aqui você pode colocar informações sobre seu post, função ainda não implementada.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            
                        <div class="card-body">
                          <p class="card-text">Este é um cartão amplo de conteúdo, Aqui você pode colocar informações sobre seu post, função ainda não implementada.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
        </div>
    </main>
    </div>
    <script>
              
        function openNav() {
          document.getElementById("mySidebar").style.width = "250px";
          document.getElementById("main").style.marginRight = "0px";
        }
        
        function closeNav() {
          document.getElementById("mySidebar").style.width = "0";
          document.getElementById("main").style.marginRight= "0";
        }
        </script>
    <script> src="../js/sidebar.js"</script> 
    <script> src="../plugins/bootstrap/js/bootstrap.min.js" </script>
    <script> src="../plugins/fontawesome/js/all.min.js"</script>
</body>
</html>